{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/about_us.css">
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="{{ url_for('static', filename='images/gremaLogo.png') }}" alt="GREMA Logo" class="img-fluid mb-4">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ">
            <div class="shadow-lg">
            <div class="card-header  bg-info text-white">
            <h2 class="font-weight-bold mb-4">GREMA - Greek-Spanish Families Association of Madrid</h2>
            </div>
            <div class="card-body">
            <p class="lead">GREMA is the Association of Greek-Spanish families in the Community of Madrid. Our goal is
                to promote interculturality and preserve Greek cultural heritage, language, and traditions within
                Greek-Spanish families.</p>
            <p>GREMA είναι ο Σύλλογος Ελληνο-Ισπανικών Οικογενειών της Μαδρίτης. Ο στόχος μας είναι η προώθηση της
                διαπολιτισμικότητας και η διατήρηση της ελληνικής πολιτιστικής κληρονομιάς, της γλώσσας και των
                παραδόσεων στις ελληνο-ισπανικές οικογένειες.</p>
                </div>
                </div>
        </div>
        <div class="col-md-6">
            <div class="card border-0 shadow-lg mb-4">
                <div class="card-header bg-info text-white">
                    <h2 class="font-weight-bold mb-0">Board of Directors</h2>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled">
                        <li>Sofia Tsipa (Presidenta/Πρόεδρος)</li>
                        <li>Aikaterini Koutsou (Vicepresident /Αντιπρόεδρος)</li>
                        <li>Sylvia-Anna Orfanides (Secretaria/Γραμματεία)</li>
                        <li>Νikolaos Maris (Tesorero/Ταμίας)</li>
                        <li>Parthena Papandreadou (Vocal/Μέλος)</li>
                        <li>Galani Kiourtzi (Vocal/Μέλος)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="jumbotron bg-transparent text-center" id="contact-jumbotron">
                <h2 class="display-4 font-weight-bold mb-4">Contact Us / Επικοινωνία</h2>
                <p class="lead">Contact us to learn more about our initiative, receive information about the activities
                    we carry out, or become a <span class="font-weight-bold text-warning">MEMBER</span>. The more, the
                    better!</p>
                <p>Επικοινώνησε μαζί μας για να μάθεις περισσότερα για την πρωτοβουλία μας, να λάβεις πληροφορίες
                    σχετικά με τις δραστηριότητες που πραγματοποιούμε ή να γίνεις μέλος. Όσοι περισσότεροι, τόσο
                    καλύτερα!</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <img src="{{ url_for('static', filename='images/grema_people.jpg') }}" alt="GREMA People" class="img-fluid"
                style="width: 100%;">
        </div>
    </div>
</div>

{% endblock %}