{% extends "base.html" %} {% block title %}Event{% endblock %} {% block content%}
<br />
<h1 align="center">{{ event.name}}</h1>
<br />
<div class="row">
    <div class="col-md-6">
        <div class="card mb-4">
            {% if event.img_url %}
            <img src="{{ event.img_url }}" class="card-img-top" alt="{{ event.name }}">
            {% else %}
            <img src="{{ url_for('static', filename='images/gremaLogo.png') }}" class="card-img-top"
                alt="{{ event.name }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">
                    <a href="/event-attendance/{{ event.id }}">{{ event.name }}</a>
                </h5>
                Event Date: {{event.date}} <br />
                Maximum capacity: {{event.max_guest_num}} people <br />
                Member price: {{event.member_price}} € <br />
                Member price (Child): {{event.member_child_price}} € <br />
                Guest price: {{event.guest_price}} € <br />
                Description: {{event.description}}
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card mb-4">
            <form method="POST" class="border-0">
                <h3 align="center">Buy tickets</h3>
                <div class="form-group">
                    <label for="number_member_tickets">Member tickets</label>
                    <input type="number" class="form-control" id="number_member_tickets" name="number_member_tickets" placeholder="Member tickets" />
                </div>
                <div class="form-group">
                    <label for="number_child_member_tickets">Member tickets (child)</label>
                    <input type="number" class="form-control" id="number_child_member_tickets" name="number_child_member_tickets"
                        placeholder="Member tickets (child)" />
                </div>
                <div class="form-group">
                    <label for="number_guest_tickets">Guest tickets</label>
                    <input type="number" class="form-control" id="number_guest_tickets" name="number_guest_tickets"
                        placeholder="Guest tickets" />
                </div>
                <div class="form-group">
                    <label for="number_child_member_tickets">Member tickets (child)</label>
                    <input type="number" class="form-control" id="number_child_member_tickets" name="number_child_member_tickets"
                        placeholder="Member tickets (child)" />
                </div>
                <div class="form-group">
                    <label for="guests_names">Guest Names</label>
                    <input type="text" class="form-control" id="guests_names" name="guests_names"
                        placeholder="Guest names" />
                </div>
                <div class="form-group">
                    <label for="totalAmount"></label>
                    <p id="totalAmountDisplay"></p>
                </div>
                <br />
                <button type="submit" class="btn btn-primary">Purchase tickets</button>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        // Precios de los tickets obtenidos del servidor o de tu base de datos
        var memberPrice = {{ event.member_price }};
    var childMemberPrice = {{ event.member_child_price }};
    var guestPrice = {{ event.guest_price }};

    // Función para actualizar el total
    function updateTotal() {
        // Calcula el total sumando los valores de todos los campos de número
        var total = 0;
        total += (parseFloat($('input[name="number_member_tickets"]').val()) || 0) * memberPrice;
        total += (parseFloat($('input[name="number_child_member_tickets"]').val()) || 0) * childMemberPrice;
        total += (parseFloat($('input[name="number_guest_tickets"]').val()) || 0) * guestPrice;

        // Actualiza el contenido del párrafo con el total
        $('#totalAmountDisplay').text('Total Amount: €' + total.toFixed(2)); // Ajusta el total a dos decimales
    }

    // Escucha los eventos de cambio en los campos de entrada
    $('input[name^="number_"]').on('input', updateTotal);

    // Llama a la función de actualización al cargar la página
    updateTotal();
    });
</script>



{% endblock %}