{% extends "base.html" %}
{% block title %}Forgot Password{% endblock %}
{% block content %}
<br><br><br><br>
<div class="container d-flex justify-content-center align-items-center ">
    <div class="card shadow-lg p-4 login-card">
        <h3 class="text-center mb-4">Forgot Password</h3>
        <form action="{{ url_for('auth.forgot_password') }}" method="POST">
            <div class="form-group">
                <label for="email">Email Address</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                    </div>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email"
                        required />
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Send Reset Link</button>
        </form>
    </div>
</div>
{% endblock %}