{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<!-- Hero Banner -->
<section class="hero-banner bg-dark text-white text-center py-5 position-relative">
  <video autoplay muted loop playsinline class="hero-video">
    <source src="/static/images/banner_video.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div class="hero-content position-absolute w-100 h-100 d-flex flex-column justify-content-center align-items-center">
    <h1 class="display-4" style="color: #fff; font-size: 3.5rem; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);">Welcome
      to GREMA Events</h1>
    <p class="lead" style="color: #fff; font-size: 1.25rem; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);">Join us for
      exciting events and experiences</p>
    <a href="#events" style="background-color:#414197; color:#fff" class="btn btn-primary btn-lg mt-3">Explore
      Events</a>
  </div>
</section>

<div class="container py-5" id="events">
  <br />
  <h1 class="text-center mb-4">Upcoming Events</h1>
  <br />
  <div class="row">
    {% for event in active_event %}
    <div class="col-md-4 position-relative">
      <div class="card mb-4 div-hover shadow-sm {% if event.is_family_friendly %}family-friendly{% endif %}">
        {% if event.img_url %}
        <img src="{{ event.img_url }}" class="card-img-top" alt="{{ event.name }}">
        {% else %}
        <img src="{{ url_for('static', filename='images/gremaLogo.png') }}" class="card-img-top" alt="{{ event.name }}">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">
            <a href="/event-attendance/{{ event.id }}">{{ event.name }}</a>
          </h5>
          {% if event.is_family_friendly %}
          <p class="family-friendly-label">
            <img src="{{ url_for('static', filename='images/family_icon.jpg') }}" alt="Family Friendly Icon"
              class="family-icon">
            Family Friendly Event
          </p>
          {% endif %}
          <p><strong>Event Date:</strong> {{ event.date.strftime('%d-%m-%Y') }}</p>
          <p><strong>Maximum capacity:</strong> {{ event.max_guest_num }} people</p>
          <p><strong>Member price:</strong> {{ event.member_price }} €</p>
          <p><strong>Member price (Child):</strong> {{ event.member_child_price }} €</p>
          <p><strong>Guest price:</strong> {{ event.guest_price }} €</p>
          <p><strong>Description:</strong> {{ event.description }}</p>
          <p><strong>Available tickets:</strong>
            {% for detail in event_details %}
            {% if detail.event == event.id %}
            {% if detail.sold_out %}
            <span class="text-danger">{{ detail.tickets_remaining }}</span>
            {% else %}
            {% if detail.warning_few_tickets %}
            <span class="text-warning">{{ detail.tickets_remaining }}</span>
            {% else %}
            <span class="text-success">{{ detail.tickets_remaining }}/{{ event.max_guest_num }}</span>
            {% endif %}
            {% endif %}
            {% endif %}
            {% endfor %}
          </p>
        </div>
        {% for detail in event_details %}
        {% if detail.event == event.id and detail.sold_out %}
        <div
          class="sold-out-overlay position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center">
          <img src="{{ url_for('static', filename='images/sold_out.png') }}" alt="Sold Out"
            style="max-width: 80%; max-height: 80%;">
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<!-- Styles for the hero banner and additional custom styles -->
<style>
  .hero-banner {
    position: relative;
    height: 60vh;
    overflow: hidden;
  }

  .hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .hero-content {
    z-index: 2;
    color: #ffffff;
  }

  .div-hover:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }

  .sold-out-overlay {
    background: rgba(255, 255, 255, 0.8);
  }

  .family-friendly {
    border: 2px solid #32CD32;
    /* Lime Green border */
    background-color: #f0fff0;
    /* Light green background */
  }

  .family-friendly .card-title a {
    color: #228B22;
    /* Forest Green text */
  }

  .family-friendly-label {
    font-size: 1rem;
    color: #228B22;
    display: flex;
    align-items: center;
  }

  .family-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
</style>

<script>
  document.querySelector('.btn-primary').addEventListener('click', function (event) {
    event.preventDefault();
    document.querySelector(this.getAttribute('href')).scrollIntoView({
      behavior: 'smooth'
    });
  });
</script>
{% endblock %}