{% extends "base.html" %}
{% block title %}Ticket Event Searcher{% endblock %}
{% block content %}
<style>
    .input-group {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .input-group select,
    .input-group input {
        flex: 1;
        margin-right: 10px;
    }

    .btn-primary,
    .btn-secondary {
        margin-top: 10px;
    }

    .card {
        margin-top: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-body {
        padding: 20px;
    }

    .bg-custom {
        background-color: #114780;
    }

    .card-title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .list-group-item {
        border-color: #ddd;
    }

    .list-group-item:first-child {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .list-group-item:last-child {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .list-group-item strong {
        width: 200px;
        display: inline-block;
        font-weight: 600;
    }

    .custom-font-size {
        font-size: 1.1rem;
    }
</style>
<div class="container mt-5">
    <h1 class="text-center mb-4">Ticket Event Searcher</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form action="/manage_event_attendances" method="post" class="mb-4">
                <div class="input-group">
                    <select name="event_id" class="form-select">
                        {% for event in events %}
                        <option value="{{ event.id }}">{{ event.name }}</option>
                        {% endfor %}
                    </select>
                    <input type="text" name="user_email" class="form-control" placeholder="Enter user email">
                    <input type="text" name="user_nif" class="form-control" placeholder="Enter user NIF">
                    <input type="text" name="user_last_name" class="form-control" placeholder="Enter user last name">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
            {% if user_attendances %}
            <h2 class="text-center mb-4 custom-font-size">Tickets of {{ searched_user.first_name }} ({{
                searched_user.email }}) have been found</h2>
            {% for attendance in user_attendances %}
            <div class="card">
                <h3 class="card-header bg-custom text-white custom-font-size">{{ searched_event.name }}</h3>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Event Name:</strong> {{ searched_event.name }}</li>
                        <li class="list-group-item"><strong>Date:</strong> {{ searched_event.date }}</li>
                        <li class="list-group-item"><strong>User Name:</strong> {{ searched_user.first_name }} {{
                            searched_user.last_name }}</li>
                        <li class="list-group-item"><strong>User Email:</strong> {{ searched_user.email }}</li>
                        <li class="list-group-item"><strong>Number of VIP Tickets:</strong> {{
                            attendance.vip_admin_tickets }}</li>
                        <li class="list-group-item"><strong>Number of Guest Tickets:</strong> {{
                            attendance.number_guest_tickets }}</li>
                        <li class="list-group-item"><strong>Number of Child Tickets:</strong> {{
                            attendance.number_child_tickets }}</li>
                        <li class="list-group-item"><strong>Number of Member Tickets:</strong> {{
                            attendance.number_member_tickets }}</li>
                        <li class="list-group-item"><strong>Number of Member Child Tickets:</strong> {{
                            attendance.number_memberchild_tickets }}</li>
                        <li class="list-group-item"><strong>Guests Names:</strong> {{ attendance.guests_names }}</li>
                        <li class="list-group-item"><strong>Cash Payment in Event:</strong> {{ "Yes" if
                            attendance.cash_payment_in_event else "No" }}</li>
                        <li class="list-group-item"><strong>Total Price:</strong> {{ attendance.total_price }}</li>
                    </ul>
                </div>
            </div>
            <br><br>
            {% endfor %}
            {% endif %}
            {% if msg_not_tickets %}
            <div id="error-message" class="alert alert-warning">{{ msg_not_tickets }}</div>
            {% endif %}
            <form action="/download_event_attendees" method="post">
                <div class="input-group">
                    <select name="event_id" class="form-select">
                        {% for event in events %}
                        <option value="{{ event.id }}">{{ event.name }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-secondary">Download Attendees PDF</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}