{% extends "base.html" %}
{% block title %}Ticket Event Searcher{% endblock %}
{% block content %}
<style>
    
    .input-group {
        display: flex;
        align-items: center;
    }

    .input-group select,
    .input-group input {
        flex: 1;
        margin-right: 10px;
    }

    .btn-primary {
        margin-top: 10px;
    }

    .card {
        margin-top: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-body {
        padding: 20px;
    }
    .bg-custom {
    background-color: #114780; /* Cambia este color por el que desees */
}
    .card-title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .list-group-item {
        border-color: #ddd;
    }

    .list-group-item:first-child {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .list-group-item:last-child {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .list-group-item strong {
        width: 200px;
        display: inline-block;
        font-weight: 600;
    }
    .custom-font-size {
    font-size: 1.1rem; /* Tamaño de fuente equivalente a fs-6 en Bootstrap */
}
</style>
<div class="container mt-5">
    <h1 class="text-center mb-4">Ticket Event Searcher</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form action="/manage_event_attendances" method="post" class="mb-4">
                <div class="input-group">
                    <select name="event_id" class="form-select">
                        {% for event in events %}
                        <option value="{{ event.id }}">{{ event.name }}</option>
                        {% endfor %}
                    </select>
                    <input type="text" name="user_email" class="form-control" placeholder="Enter user email">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
            {% if user_attendance %}
            <div class="card">
                <h2 class="card-header bg-custom text-white custom-font-size">Tickets of {{ searched_user.first_name }} ({{
                    searched_user.email }}) has been found</h2>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Event Name:</strong> {{ searched_event.name }}</li>
                        <li class="list-group-item"><strong>Date:</strong> {{ searched_event.date }}</li>
                        <li class="list-group-item"><strong>Number of Guest Tickets:</strong> {{
                            user_attendance.number_guest_tickets }}</li>
                        <li class="list-group-item"><strong>Number of Child Tickets:</strong> {{
                            user_attendance.number_child_tickets }}</li>
                        <li class="list-group-item"><strong>Number of Member Tickets:</strong> {{
                            user_attendance.number_member_tickets }}</li>
                        <li class="list-group-item"><strong>Number of Member Child Tickets:</strong> {{
                            user_attendance.number_memberchild_tickets }}</li>
                        <li class="list-group-item"><strong>Guests Names:</strong> {{ user_attendance.guests_names }}</li>
                        <li class="list-group-item"><strong>Cash Payment in Event:</strong> {{ "Yes" if
                            user_attendance.cash_payment_in_event else "No" }}</li>
                        <li class="list-group-item"><strong>Total Price:</strong> {{ user_attendance.total_price }}</li>
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
    </div>


</div>
{% endblock %}