{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<br><br />
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="text-center">{{ user.first_name }} {{ user.surname }}</h1>
            <br>
            <div class="card mb-4">
                <div class="profile-image-container mx-auto mt-4">
                    {% if user.user_profile_image_url %}
                    <img src="{{ user.user_profile_image_url }}" class="card-img-top rounded-circle"
                        alt="Profile Image">
                    {% elif user.admin_profile_image_url %}
                    <img src="{{ user.admin_profile_image_url }}" class="card-img-top rounded-circle"
                        alt="Profile Image">
                    {% else %}
                    <img src="{{ url_for('static', filename='images/userLogo.png') }}"
                        class="card-img-top rounded-circle" alt="{{ user.first_name }}">
                    {% endif %}

                    {% if is_member %}
                    <div class="alert alert-success text-center rounded-pill" role="alert"
                        style="background-color: gold; color: black; padding: 4px;">
                        <strong>GREMA Member</strong>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong class="text-secondary">NIF:</strong> {{ user.nif }}</li>
                        <li class="list-group-item"><strong class="text-secondary">Email:</strong> {{ user.email }}</li>
                        <li class="list-group-item"><strong class="text-secondary">Phone Number:</strong> {{
                            user.phone_number }}</li>
                        <li class="list-group-item"><strong class="text-secondary">Address:</strong> {{ user.address }}
                        </li>
                        {% if not user.is_admin %}
                        <li class="list-group-item"><strong class="text-secondary">Birthday:</strong> {{
                            user.birthday.strftime('%d-%m-%Y') }}</li>
                        <li class="list-group-item"><strong class="text-secondary">Creation Date:</strong> {{
                            user.creation_date.strftime('%d-%m-%Y') }}</li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% if user.partner or user.children %}
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title text-center mb-4 custom-color">Family</h5>
                    <div class="row">
                        <div class="col-md-6">
                            {% if user.partner %}
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-2 text-muted text-center text-warning">Partner</h6>
                                    {% for partner in user.partner %}
                                    <div class="row align-items-center mb-3">
                                        <div class="col-md-9">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item"><strong class="custom-color">Name:</strong>
                                                    {{ partner.name }}</li>
                                                <li class="list-group-item"><strong class="custom-color">NIF:</strong>
                                                    {{ partner.nif }}</li>
                                                <li class="list-group-item"><strong class="custom-color">Phone
                                                        Number:</strong> {{ partner.phone_number }}</li>
                                                <li class="list-group-item"><strong
                                                        class="custom-color">Birthday:</strong> {{ partner.birthday }}
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="partner-image-container">
                                                {% if partner.partner_profile_image_url %}
                                                <img src="{{ partner.partner_profile_image_url }}"
                                                    class="rounded-circle" alt="Partner Image">
                                                {% else %}
                                                <img src="{{ url_for('static', filename='images/userLogo.png') }}"
                                                    class="rounded-circle" alt="Default Partner Image">
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <form id="delete_partner_form" style="display: none;" action="{{ url_for('views.delete_partner', partner_id=partner.id) }}" method="POST" >
                                        <button type="submit" class="btn btn-danger btn-sm mt-2">Delete</button>
                                    </form>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            {% if user.children %}
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-2 text-muted text-center text-warning">Children</h6>
                                    {% for child in user.children %}
                                    <div class="row align-items-center mb-3">
                                        <div class="col-md-9">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item"><strong class="custom-color">Name:</strong>
                                                    {{ child.name }}</li>
                                                <li class="list-group-item"><strong class="custom-color">NIF:</strong>
                                                    {{ child.nif }}</li>
                                                <li class="list-group-item"><strong class="custom-color">Phone
                                                        Number:</strong> {{ child.phone_number }}</li>
                                                <li class="list-group-item"><strong
                                                        class="custom-color">Birthday:</strong> {{ child.birthday }}
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="child-image-container">
                                                {% if child.child_profile_image_url %}
                                                <img src="{{ child.child_profile_image_url }}" class="rounded-circle"
                                                    alt="Child Image">
                                                {% else %}
                                                <img src="{{ url_for('static', filename='images/userLogo.png') }}"
                                                    class="rounded-circle" alt="Default Child Image">
                                                {% endif %}
                                                <form style="display: none;" class="delete-child-form" action="{{ url_for('views.delete_child', child_id=child.id) }}" method="POST" style="display:inline;">
                                                    <button type="submit" class="btn btn-danger btn-sm mt-2">Delete</button>
                                                </form>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Botón de edición y formulario -->
    <div class="text-center mb-4">
        <button id="edit-profile-btn" class="btn btn-primary">Change Profile Data</button>
    </div>
    {%if not user.is_admin%}
    <div class="text-center mb-4">
        <button id="add-partner-btn" class="btn btn-success">Add Partner</button>
    </div>
    <div class="text-center mb-4">
        <button id="add-child-btn" class="btn btn-success">Add Child</button>
    </div>
    {%endif%}
    <div id="add-partner-form" style="display: none;">
        <form id="partner-add-form" method="POST" action="{{ url_for('views.add_partner', user_id=user.id) }}"
            enctype="multipart/form-data">  
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title text-center mb-4">Add Partner</h5>
                    <div class="form-group">
                        <label for="partner_name">Partner Name:</label>
                        <input type="text" id="partner_name" name="partner_name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="partner_nif">Partner NIF:</label>
                        <input type="text" id="partner_nif" name="partner_nif" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="partner_phone_number">Partner Phone Number:</label>
                        <input type="text" id="partner_phone_number" name="partner_phone_number" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="partner_birthday">Partner Birthday:</label>
                        <input type="date" id="partner_birthday" name="partner_birthday" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="partner_profile_image">Partner Profile Image:</label>
                        <input type="file" id="partner_profile_image" name="partner_profile_image" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success btn-block">Add Partner</button>
                </div>
            </div>
        </form>
    </div>
    
    <!-- Formulario para añadir un Child -->
    
    <div id="add-child-form" style="display: none;">
        <form id="child-add-form" method="POST" action="{{ url_for('views.add_child', user_id=user.id) }}"
            enctype="multipart/form-data">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title text-center mb-4">Add Child</h5>
                    <div class="form-group">
                        <label for="child_name">Child Name:</label>
                        <input type="text" id="child_name" name="child_name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="child_nif">Child NIF:</label>
                        <input type="text" id="child_nif" name="child_nif" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="child_phone_number">Child Phone Number:</label>
                        <input type="text" id="child_phone_number" name="child_phone_number" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="child_birthday">Child Birthday:</label>
                        <input type="date" id="child_birthday" name="child_birthday" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="child_profile_image">Child Profile Image:</label>
                        <input type="file" id="child_profile_image" name="child_profile_image" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success btn-block">Add Child</button>
                </div>
            </div>
        </form>
    </div>
    <div id="edit-profile-form" style="display: none;">
        <form id="profile-edit-form" method="POST" action="/update_profile" enctype="multipart/form-data">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title text-center mb-4">Edit Profile</h5>
                    <!-- Campos de edición del perfil del usuario -->
                    <div class="form-group">
                        <label for="first_name">First Name:</label>
                        <input type="text" id="first_name" name="first_name" class="form-control"
                            value="{{ user.first_name }}">
                    </div>
                    <div class="form-group">
                        <label for="surname">Surname:</label>
                        <input type="text" id="surname" name="surname" class="form-control" value="{{ user.surname }}">
                    </div>
                    <div class="form-group">
                        <label for="nif">NIF:</label>
                        <input type="text" id="nif" name="nif" class="form-control" value="{{ user.nif }}">
                    </div>
                    <div class="form-group">
                        <label for="phone_number">Phone Number:</label>
                        <input type="tel" id="phone_number" name="phone_number" class="form-control"
                            value="{{ user.phone_number }}">
                    </div>
                    <div class="form-group">
                        <label for="address">Address:</label>
                        <input type="text" id="address" name="address" class="form-control" value="{{ user.address }}">
                    </div>
                    {% if not user.is_admin %}
                    <div class="form-group">
                        <label for="birthday">Birthday:</label>
                        <input type="date" id="birthday" name="birthday" class="form-control"
                            value="{{ user.birthday }}">
                    </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="profile_image">Profile Image:</label>
                        <input type="file" id="profile_image" name="profile_image" class="form-control">
                    </div>

                    {% if user.partner %}
                    {% for partner in user.partner %}
                    <h5 class="mt-4">Partner</h5>
                    <div class="form-group">
                        <label for="partner_name_{{ loop.index }}">Partner Name:</label>
                        <input type="text" id="partner_name_{{ loop.index }}" name="partner_name_{{ loop.index }}"
                            class="form-control" value="{{ partner.name }}">
                    </div>
                    <div class="form-group">
                        <label for="partner_nif_{{ loop.index }}">Partner NIF:</label>
                        <input type="text" id="partner_nif_{{ loop.index }}" name="partner_nif_{{ loop.index }}"
                            class="form-control" value="{{ partner.nif }}">
                    </div>
                    <div class="form-group">
                        <label for="partner_phone_number_{{ loop.index }}">Partner Phone Number:</label>
                        <input type="text" id="partner_phone_number_{{ loop.index }}"
                            name="partner_phone_number_{{ loop.index }}" class="form-control"
                            value="{{ partner.phone_number }}">
                    </div>
                    <div class="form-group">
                        <label for="partner_birthday_{{ loop.index }}">Partner Birthday:</label>
                        <input type="date" id="partner_birthday_{{ loop.index }}"
                            name="partner_birthday_{{ loop.index }}" class="form-control"
                            value="{{ partner.birthday }}">
                    </div>
                    <div class="form-group">
                        <label for="partner_profile_image_{{ loop.index }}">Partner Profile Image:</label>
                        <input type="file" id="partner_profile_image_{{ loop.index }}"
                            name="partner_profile_image_{{ loop.index }}" class="form-control">
                    </div>
                    {% endfor %}
                    {% endif %}

                    {% if user.children %}
                    <h5 class="mt-4">Children</h5>
                    {% for child in user.children %}
                    <div class="form-group">
                        <label for="child_name_{{ loop.index }}">Child Name:</label>
                        <input type="text" id="child_name_{{ loop.index }}" name="child_name_{{ loop.index }}"
                            class="form-control" value="{{ child.name }}">
                    </div>
                    <div class="form-group">
                        <label for="child_nif_{{ loop.index }}">Child NIF:</label>
                        <input type="text" id="child_nif_{{ loop.index }}" name="child_nif_{{ loop.index }}"
                            class="form-control" value="{{ child.nif }}">
                    </div>
                    <div class="form-group">
                        <label for="child_phone_number_{{ loop.index }}">Child Phone Number:</label>
                        <input type="text" id="child_phone_number_{{ loop.index }}"
                            name="child_phone_number_{{ loop.index }}" class="form-control"
                            value="{{ child.phone_number }}">
                    </div>
                    <div class="form-group">
                        <label for="child_birthday_{{ loop.index }}">Child Birthday:</label>
                        <input type="date" id="child_birthday_{{ loop.index }}" name="child_birthday_{{ loop.index }}"
                            class="form-control" value="{{ child.birthday }}">
                    </div>
                    <div class="form-group">
                        <label for="child_profile_image_{{ loop.index }}">Child Profile Image:</label>
                        <input type="file" id="child_profile_image_{{ loop.index }}"
                            name="child_profile_image_{{ loop.index }}" class="form-control">
                    </div>
                    {% endfor %}
                    {% endif %}

                    <!-- Botón de guardar cambios -->
                    <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
                </div>
            </div>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
                // Obtenemos el botón de edición y el formulario de edición
                const editProfileBtn = document.getElementById('edit-profile-btn');
                const editProfileForm = document.getElementById('edit-profile-form');
                const deleteChildForms = document.querySelectorAll('.delete-child-form');
                const deletePartnerForms = document.getElementById('delete_partner_form');
                const addPartnerBtn = document.getElementById('add-partner-btn');
                const addPartnerForm = document.getElementById('add-partner-form');
                const addChildBtn = document.getElementById('add-child-btn');
                const addChildForm = document.getElementById('add-child-form');

                // Agregamos event listeners para los clics en los botones de añadir
                addPartnerBtn.addEventListener('click', function () {
                    addPartnerForm.style.display = addPartnerForm.style.display === 'none' ? 'block' : 'none';
                });

                addChildBtn.addEventListener('click', function () {
                    addChildForm.style.display = addChildForm.style.display === 'none' ? 'block' : 'none';
                });

                // Agregamos un event listener para el clic en el botón de edición
                editProfileBtn.addEventListener('click', function () {
                    // Alternamos la visibilidad del formulario de edición
                    editProfileForm.style.display = editProfileForm.style.display === 'none' ? 'block' : 'none';
                    deletePartnerForms.style.display = deletePartnerForms.style.display === 'none' ? 'block' : 'none';
                    // Alternamos la visibilidad de todos los formularios de eliminación de children
                    deleteChildForms.forEach(function (form) {
                        form.style.display = form.style.display === 'none' ? 'block' : 'none';
                    });

                    
                });
            });

    </script>
</div>

<style>
    .profile-image-container {
        max-width: 150px;
        margin-bottom: 15px;
    }

    .card {
        border: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-body {
        padding: 1.5rem;
    }

    .list-group-item {
        border: none;
        padding: 0.75rem 0;
    }

    .card-subtitle {
        font-size: 1.1rem;
    }

    .custom-color {
        color: rgb(20, 73, 172);
    }

    .partner-image-container img,
    .child-image-container img {
        max-width: 80px;
        height: auto;
    }

    .form-group {
        margin-bottom: 1.5rem;
    }

    .btn-block {
        width: 100%;
    }

    #edit-profile-form {
        margin-top: 20px;
    }

    .form-group label {
        font-weight: bold;
    }

    .form-control {
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 10px;
        font-size: 1rem;
    }

    .form-control:focus {
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
    }

    .btn-primary {
        background-color: #007bff;
        border: none;
        padding: 10px 20px;
        font-size: 1rem;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .btn-primary:hover {
        background-color: #0056b3;
    }
</style>

{% endblock %}