{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<br><br><br><br>
<div class="container d-flex justify-content-center align-items-center">
    <div class="card shadow-lg p-4 login-card w-50">
        <h3 class="text-center mb-4">Reset Password</h3>
        <form id="reset-password-form" method="POST">
            <div class="form-group">
                <label for="password">New Password</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" id="password" name="password"
                        placeholder="Enter new password" required />
                </div>
                <small id="passwordHelp" class="form-text text-muted">Your password must be at least 7 characters
                    long.</small>
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirm New Password</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" id="confirm-password" name="confirm_password"
                        placeholder="Confirm new password" required />
                </div>
            </div>
            <div id="error-message" class="alert alert-danger d-none"></div>
            <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#reset-password-form').on('submit', function (event) {
            var password = $('#password').val();
            var confirmPassword = $('#confirm-password').val();
            var errorMessage = $('#error-message');

            if (password.length < 7) {
                event.preventDefault();
                errorMessage.text('Password must be at least 7 characters long.').removeClass('d-none');
            } else if (password !== confirmPassword) {
                event.preventDefault();
                errorMessage.text('Passwords do not match.').removeClass('d-none');
            } else {
                errorMessage.addClass('d-none');
            }
        });
    });
</script>
{% endblock %}