.div-hover:hover {
    /* Propiedades que deseas aplicar cuando el mouse está encima del div */
    /*background-color: rgb(242, 241, 241); /* Por ejemplo, cambiar el color de fondo */
    transform: scale(1.1);
    /* Por ejemplo, aumentar el tamaño */
    transition: background-color 0.3s, transform 0.3s;
    /* Animación suave */
}

.span-hover:hover {
    /* Propiedades que deseas aplicar cuando el mouse está encima del span */
    /*color: red; /* Por ejemplo, cambiar el color del texto */
    font-weight: bold;
    /* Por ejemplo, hacer que el texto sea negrita */
    transition: color 0.3s, font-weight 0.3s;
    /* Animación suave */
}

.hidden {
    display: none;
}
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 100px;
    margin: 0;
    padding: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    /* Altura del footer */
    background-color: #141618;
    /* Color de fondo del footer */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    box-sizing: border-box;
}

.footer img {
    max-height: 35px;
    max-width: 100%;
    vertical-align: middle;
    align-items: center;
}

.footer p,
.footer a {
    color: #fff;
    margin-bottom: 0;
}

.navbar-custom {
    background-color: #101213;
    padding: 10px 0;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    max-height: 30px;
    margin-right: 10px;
}

.navbar-nav .nav-item {
    margin-left: 10px;
}

.navbar-nav .nav-link {
    color: #ffffff !important;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.navbar-nav .nav-link .fa {
    margin-right: 5px;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
}

.navbar-collapse {
    justify-content: space-between;
}

.navbar-nav.ml-auto {
    margin-left: auto !important;
}

.container-wide {
    max-width: 1340px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.badge {
    margin-left: 5px;
    padding: 5px 10px;
    font-size: 90%;
}

.nav-link.btn {
    padding: 5px 10px;
}

.footer {
    background-color: #101213;
    color: white;
    padding: 20px 0;
}

.footer a {
    color: #ffffff;
    margin: 0 10px;
}

.footer img {
    max-height: 30px;
}




