.div-hover:hover {
    /* Propiedades que deseas aplicar cuando el mouse está encima del div */
    /*background-color: rgb(242, 241, 241); /* Por ejemplo, cambiar el color de fondo */
    transform: scale(1.1);
    /* Por ejemplo, aumentar el tamaño */
    transition: background-color 0.3s, transform 0.3s;
    /* Animación suave */
}

.span-hover:hover {
    /* Propiedades que deseas aplicar cuando el mouse está encima del span */
    /*color: red; /* Por ejemplo, cambiar el color del texto */
    font-weight: bold;
    /* Por ejemplo, hacer que el texto sea negrita */
    transition: color 0.3s, font-weight 0.3s;
    /* Animación suave */
}

.hidden {
    display: none;
}
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 100px;
    /* Espacio para el footer */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    /* Altura del footer */
    background-color: #343a40;
    /* Color de fondo del footer */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    box-sizing: border-box;
}

.footer img {
    max-height: 35px;
    max-width: 100%;
    vertical-align: middle;
    align-items: center;
}

.footer p,
.footer a {
    color: #fff;
    margin-bottom: 0;
}

