.gold-background {
    background-color: rgb(255, 183, 0);
    padding: 20px;
    border-radius: 10px;
}

.gold-button {
    background-color: rgb(255, 183, 0);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.gold-button:hover {
    background-color: darkgoldenrod;
}

.animated-list-item {
    transition: transform 0.3s ease;
}

.animated-list-item:hover {
    transform: scale(1.05);

}
.custom-list {
    list-style: none;
    padding: 0;
}

.custom-list li {
    position: relative;
    padding-left: 20px;
    /* Adjust as needed */
    margin-bottom: 10px;
    /* Adjust as needed */
}

.custom-list li:before {
    content: "";
    position: absolute;
    top: 5px;
    /* Adjust as needed */
    left: 0;
    width: 18px;
    /* Width of your custom bullet image */
    height: 18px;
    /* Height of your custom bullet image */
    background-image: url('/static/images/star.png');
    /* Replace 'path/to/your/image.png' with the path to your custom image */
    background-size: cover;
}